@import url('https://fonts.googleapis.com/css?family=Anton');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Anton', sans-serif;
}


/*  HEADER  */

.header {
  align-content: center;
  padding-top: 3%; 
  text-transform: uppercase;
  letter-spacing: 7.2px;
  display: flex;
  justify-content: center;
  font-size: 300%;
  background-image: radial-gradient(circle, #5f83bb, #00a5da, #00c3c7, #00da85, #a8e31c);  color: white;
}


.main-container {
  display: flex;
  flex-flow: row wrap;
}

/* MESSAGE BOARD */

.message-board {
  width: 70%;
  height: 100vh;
  background-color: #dcf8c6;
}

/* online=users */
.online-users {
  width: 30%;
  height: 100vh;
background-color: #ece5dd;
}

/* input */
.input {
  align-self: flex-end;
}
.input input{
  background-color: #f5f5f5;
  width: 100vw;
  height: 50px;
}

/* CHAT ITEM */

.chat-container .chat-message {
margin-left: 5%;

}

.chat-container .chat-message {
  background-color: #f5f5f5;
  width: 40vw;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  padding: 5px 10px;
}